  <tr>
    <td> <%= render_review_content(review) %> </td>
    <td> <%= review.movie.title %> </td>
    <td> <%= review.updated_at %> </td>
    <td> <%= link_to('Edit', edit_movie_review_path(review.movie, review), class: "btn btn-default btn-xs") %></td>
    <td> <%= link_to('Delete', movie_review_path(review.movie, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs") %></td>
  </tr>
